# Booleanos

El tipo booleano es otro de los tipos de datos primitivo, sin embargo no es tan obvio como los anteriores. No porque no lo usemos a diario, sino porque lo hacemos de forma implícita, no somos conscientes de usarlo.

Veamos un ejemplo tonto en la vida diaria. Pedro y Andrea son pareja ambos tienen una cuenta de gastos comunes en la que aportan todos los meses 500€ cada uno. Pedro gana 1200 € al mes, Andrea gana 1500 € al mes. Dos preguntas.

1. ¿Es el sueldo de Andrea igual al sueldo de Pedro?
2. ¿Aportan lo mismo a la cuenta de gastos comunes Andrea y Pedro?

Es obvio que la respuesta a la pregunta 1 es NO y la respuesta a la 2 es SI.

¿Como haríamos esto con un ordenador o con la lógica de Boole?. Veamoslo en código

In [0]:
aportacionAndrea = 500
aportacionPedro = 500
sueldoAndrea = 1500
sueldoPedro = 1200

Vamos ahora ambas comparaciones, para esto asumamos que el operador de comparación de igualdad en python es `==`

In [3]:
aportacionAndrea == aportacionPedro

True

In [4]:
sueldoAndrea == sueldoPedro

False

Vemos que en primer caso python nos devuelve `True`, o verdadero y en el segundo `False` o Falso. Nuestros equivalentes a SI y NO del primer texto. Esto no es un dato numérico, ni tampoco es una cadena (no es la cadena `'True'`) es un tipo de dato nuevo, el **Booleano** o en términos más asequibles el tipo lógico.

In [6]:
'True'==True

False

Veamos ahora que operaciones pueden realizarse con este tipo de datos y cuales son sus operadores básicos (sigue [texto del enlace](https://))